@font-face {
    font-family: Forum;
    src: url("../assets/fonts/Forum-Regular.ttf");
}
@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Regular.ttf");
}

html {
    scroll-behavior: smooth; 
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    height: 90px;
    margin: 0; 
}


.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: center;
    min-width: 100%;
    background: #0C0C0E;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-title {
    margin: 20px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.6px;
}

.nav {
    margin: 0 5px;
}

.nav-item {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.nav-link {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    transition: 0.5s;
}

.nav-link:hover {
    cursor: pointer;
    color: #BB945F;
    font-weight: 700;
}

.profile-icon {
    margin: 20px;
    filter: grayscale(1);
    filter: brightness(3);
    transition: 0.5s;
}

.profile-icon:hover {
    filter: none;
}

.burger-menu {
    display: none;
}

.burger-icon {
    width: 45px;
    height: 20px;
    margin: auto 20px;
    filter: grayscale(1);
    filter: brightness(3);
    transition: 0.5s;
}

.burger-icon:hover {
    filter: none;
}


.main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.welcome-container {
    min-width: 100%;
}

.welcome {
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 0;
    min-width: 100%;
    background: url(../pictures/welcome-bacckground.jpg) lightgray 50% / cover no-repeat;
}

.overlay {
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, #1212151a 100%);
}

.welcome-box {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    margin: 0;
    position: relative;
    bottom: 80px;
    background: #0C0C0E;
}

.welcome-text {
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 3px;
    text-transform: uppercase;
}

.title-line {
    width: 50px;
    height: 1px;
    background: #0C0C0E;
}

.title-section {
    margin: 0;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.title-container {
    height: 40px;
    margin: 20px;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    height: 837px;
}

.about-text {
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.about-box {
    height: 40px;
    margin-top: 40px;
}

.about-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 560px;
    margin: 20px;
    overflow: hidden;
}

.carousel-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.carousel-button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    transition: 0.5s;
}

.carousel-item {
    width: 450px;
}

.carousel-button {
    border-radius: 50%;
    border: 1px solid #0C0C0E;
    background: #0C0C0E;
    width: 14px;
    height: 14px;
}

.carousel-button:hover {
    width: 18px;
    height: 18px;
}

.carousel-button-act {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #BB945F;
    background: #BB945F;
}

.favorites {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 100%;
    height: 1439px;
    padding: 0 20px;
}

.season-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 40px 0;
    width: 100%;
    height: 88px;   
}

.season-wrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 700px;
    height: 24px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
}

.season-title {
    width: 234px;
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    letter-spacing: 0.3px;   
}

.radio-button {
    margin: 0 20px 0 0;
    width: 16px;
    height: 16px;
    accent-color: #000;
    transition: 0.5s;
}

.season-label {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.5s;
}

.radio-button:checked + .season-label {
    color: #000;
    font-weight: 700;
}

.radio-button:hover + .season-label,
.radio-button:hover {
    cursor: pointer;
    color: #BB945F;
    accent-color: #bb945f;
}

.favorites-list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: wrap;
    overflow: hidden;
    width: 1400px;
    height: 1150px;
    margin: 0;
}

.favorites-item {
    display: flex;
    position: relative;
    width: 590px;
    height: 555px;
}

.book-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 300px;
}


.favorites-item:nth-child(1) .book-image{
    background: url(../pictures/favorites/book_eaters.jpg) lightgray 50% / cover no-repeat;
}

.favorites-item:nth-child(2) .book-image{
    background: url(../pictures/favorites/cackle.jpg) lightgray 50% / cover no-repeat;
}

.favorites-item:nth-child(3) .book-image{
    background: url(../pictures/favorites/Dante.jpg) lightgray 50% / cover no-repeat;
}

.favorites-item:nth-child(4) .book-image{
    background: url(../pictures/favorites/last_queen.jpg) lightgray 50% / cover no-repeat;
}

.favorites-desc {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    position: relative;
    box-sizing: border-box;
    width: 550px;
    height: 100%;
    border: 1px solid #000;
    padding: 15px 19px;
}

.staff-picks-line {
    width: 60px;
    height: 0;
    border: 1px solid #BB945F;
}

.staff-picks {
    display: flex;
    flex-direction: column;
    height: 40px;
}

.staff-picks-title {
    margin: 0;
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book-autor {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book-title {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book-desc {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}


.book-title-wrap {
    margin: 20px 0;
}

.book-desc-wrap {
    width: 357px;
}

.button-buy,
.button-own {
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: 75px;
    height: 30px;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.button-buy {
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    transition: 0.5s;
}

.button-buy:hover {
    cursor: pointer;
    border: 1px solid #BB945F;
    background: #BB945F;
}

.button-own {
    border-radius: 2px;
    border: 1px solid #BB945F;
    color: #BB945F;
}

.coffee-shop {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 100%;
    height: 841px;
    padding: 0 20px 40px 20px;
}

.coffee-shop-box {
    width: 100%;
    height: 120px;
    margin: 40px 0;
}

.coffee-shop-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    margin:0;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    height: 520px;
}

.menu-list{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 438px;
    position: relative;
    margin-top: 40px;
}

.menu-line {
    box-sizing: border-box;
    width: 100px;
    margin: 0 60px;
    height: 0;
    border: 1px #BB945F solid;
    position: absolute;
    right: 21px;
}

.menu-list-title {
    position: absolute;
    top: 0;
    left: 0;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
}

.menu-name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}

.menu-price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}

.menu-list:last-child .menu-item {
    justify-content: end;
}

.menu-list:last-child .menu-line{
    position: initial;
}

.menu-list:last-child .menu-list-title{
    position: unset;
    align-self: self-end;    
}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 535px;
    padding: 0 20px 40px 20px;
}

.contacts-box {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    margin-top: 40px;
}

.mail-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
}

.mail-list a {
    font-weight: 700;
    letter-spacing: 2.4px;
}

.phone-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.phone-header {
    height: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 2.4px;
}

.phone-item {
    height: 40px;
    margin: 10px 0;
}

.mail-item {
    margin-bottom: 20px;
}

.contacts-list {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts-list a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

.contacts-list a:hover {
    cursor: pointer;
    color: #BB945F;
}

.map-container {
    width: 696px;
    height: 414px;
    background: url(../pictures/Map/map_library.png) lightgray 50% / cover no-repeat;
}

.library-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 614px;
    padding: 0 20px 40px 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    height: 453px;
    margin-top: 40px;
    min-width: 100%;
}

.card-input-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 453px;
}

.card-input-header {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.card-input-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 600px;
    height: 386px;
    border: 3px solid #BB945F;
    padding: 17px 17px 27px 17px;
    margin-top: 30px;
}

.card-input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    height: 272px;
    background: #BB945F;
}

.card-input-box h3 {
    height: 50px;
    margin: 20px 0;
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.6px;
}

.card-input-box input {
    box-sizing: border-box;
    height: 66px;
    padding: 8px 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    background: #ffffff;
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.6px;
}

.card-input-border button {
    width: 242px;
    height: 44px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card-input-border button:hover {
    cursor: pointer;
    border: 1px solid #BB945F;
    background: #BB945F;
}

.card-login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 456px;
    height: 253px;
}

.card-login-box h3 {
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.card-login-box p {
    height: 120px;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
}

.login-btn-row {
    display: flex;
}

.login-btn-row button {
    box-sizing: border-box;
    width: 75px;
    height: 30px;
    margin-left: 20px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transition: 0.5s;
}

.login-btn-row button:hover {
    cursor: pointer;
    border: 1px solid #BB945F;
    background: #BB945F;
}

.footer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 100%;
    height: 250px;
    padding: 20px 20px 0 20px;
    background: #0C0C0E;
}

.footer-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 10px;
}

.footer-socies-list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-socies-item {
    width: 24px;
    height: 24px;
    filter: grayscale(1);
    filter: brightness(3);
    transition: 0.5s;
}

.footer-socies-item:hover {
    filter: none;
}

.footer-socies-item a {
    width: 100%;
    height: 100%;
}

.footer-frame-end {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 110px;
    margin-top: auto;
    border-top: 2px solid #ffffff;
}

.year {
    position: absolute;
    left: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
}

.user-link {
    position: absolute;
    right: 0;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
}

.footer a {
    text-decoration: none;
    transition: 0.5s;
}

.footer a:hover {
    cursor: pointer;
    color: #BB945F;
}

.footer-adress {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-work-shedule {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.school-link {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
}

@media (max-width: 1024px) {
    .container {
        width: 100vw;
    }

    .nav {
        display: none;
    }

    .burger-menu {
        display: initial;
    }

}

@media (max-width: 1200px) {
    .nav-list {
        padding: 0;
    }

    .footer-frame-end {
        justify-content: space-between;
    }

    .year,
    .user-link {
        position:initial
    }
    
    .school-link {
        padding: 10px;
    }
}