* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

.body {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/lemonade.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.player {
    display: flex;

}

.footer{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    margin-top: auto;
    background-color: black;
}

.footer a {
    height: 100%;
}

.footer img {
    height: 100%;
    object-fit: contain;
}

.school-link img {
    filter: invert(1);
}

.github-link img {
    filter: grayscale(1);
}

.footer span {
    color: white;
    margin: auto 0;
}